header {
  width: 100%;
  height: var(--header-height);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  padding: var(--default-y-margin) var(--default-x-margin);
  margin-bottom: var(--header-margin-bottom);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.title {
  font-style: italic;
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--highlight-color);
}

.header-line {
  box-shadow: var(--shadow-sm);
}

.header-user-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-user-container img {
  border-radius: 50%;
}

.heaeder-user-info {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--bgColor-neutral-muted);
}
