@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --available-width: calc(100vw - calc(2 * var(--default-x-margin)));
  --available-mobile-width: calc(100vw - calc(2 * var(--mobile-x-margin)));
  --header-height: 5rem;
  --header-margin-bottom: 1rem;
  --default-x-margin: 8rem;
  --mobile-x-margin: 2rem;
  --default-y-margin: 1rem;
  --background-color: #fff;
  --text-color: #000;
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --bgColor-neutral-muted: #818b981f;
  --bgColor-soft-grey: #f8f9fa;
  --highlight-color: #ffa500;
  --signal-green: #33954f;
}

.dark {
  --background-color: #000;
  --text-color: #fff;
}

.highlight {
  font-weight: 500;
  color: var(--highlight-color);
}

body {
  width: var(--available-width);
  min-height: 100vh;
  margin: 0 var(--default-x-margin);
  margin-top: calc(
    calc(var(--header-height) + var(--header-margin-bottom)) +
      var(--default-y-margin)
  );
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  background-color: var(--background-color);
  box-sizing: border-box;
  font-family: "Pretendard-Regular", sans-serif;
}

hr {
  border: 0.5px solid var(--bgColor-neutral-muted);
}

a {
  text-decoration: none;
  color: inherit;
}

a p {
  margin: 0;
}

textarea {
  box-shadow: var(--shadow-sm);
  border: 1px solid var(--bgColor-neutral-muted);
  border-radius: 0.75rem;
  resize: none;
}

input,
textarea,
select {
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 1rem;
}

input::placeholder {
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 1rem;
}

textarea::placeholder {
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 1rem;
}

textarea:focus-visible,
input:focus-visible {
  outline: none;
}

button {
  all: unset;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

ul {
  padding-inline-start: 1.5rem;
}

li {
  line-height: 1.7;
}

ol {
  padding-inline-start: 1.5rem;
}

table {
  margin: 1rem 0;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th {
  background-color: var(--bgColor-soft-grey);
}

th,
td {
  padding: 1rem;
  text-align: center;
  border: 1px solid var(--bgColor-neutral-muted);
}

blockquote {
  margin: 1rem 0;
  padding: 2rem;
  white-space: "break-spaces";
  background-color: var(--bgColor-soft-grey);
  border-left: 5px solid var(--highlight-color);
}

blockquote p {
  margin: 0;
}

.token {
  font-family: "Pretendard-Regular", sans-serif;
}

select {
  display: block;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--bgColor-neutral-muted);
  border-radius: 0.75rem;
  box-shadow: var(--shadow-sm);
}

select:hover {
  cursor: pointer;
}

.contents {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.inline-code {
  padding: 0.2rem 0.4rem;
  white-space: break-spaces;
  background-color: var(--bgColor-soft-grey);
  color: var(--highlight-color);
  border-radius: 6px;
  font-family: "Pretendard-Regular", sans-serif;
  font-weight: 600;
}

.highlight-button {
  border-bottom: 1px solid var(--background-color);
}

.highlight-button:hover {
  color: var(--highlight-color);
  border-bottom: 1px solid var(--highlight-color);
}

.custom-button {
  margin: 1rem 0 2rem 0;
  padding: 1rem 0.5rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--bgColor-neutral-muted);
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-sm);
}

.custom-button:hover {
  background-color: var(--highlight-color);
  color: var(--background-color);
}

.hidden {
  display: none !important;
}

.relative {
  position: relative;
}

.not-found {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  body {
    margin: 0 var(--mobile-x-margin);
    margin-top: calc(
      calc(var(--header-height) + var(--header-margin-bottom)) +
        var(--default-y-margin)
    );
    width: var(--available-mobile-width);
  }
}

@media (max-width: 600px) {
  .header-user-container {
    display: none;
  }
}
