:root {
  --available-width: calc(100vw - calc(2 * var(--default-x-margin)));
  --available-mobile-width: calc(100vw - calc(2 * var(--mobile-x-margin)));
  --header-height: 5rem;
  --header-margin-bottom: 1rem;
  --default-x-margin: 8rem;
  --mobile-x-margin: 2rem;
  --default-y-margin: 1rem;
  --background-color: #fff;
  --text-color: #000;
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --bgColor-neutral-muted: #818b981f;
  --highlight-color: #ffa500;
}

.dark {
  --background-color: #000;
  --text-color: #fff;
}

body {
  width: var(--available-width);
  background-color: var(--background-color);
  color: var(--text-color);
  box-sizing: border-box;
  margin: 0 var(--default-x-margin);
  margin-top: calc(
    calc(var(--header-height) + var(--header-margin-bottom)) +
      var(--default-y-margin)
  );
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  box-shadow: var(--shadow-sm);
  border: 1px solid var(--bgColor-neutral-muted);
  border-radius: 0.75rem;
  resize: none;
}

textarea:focus-visible,
input:focus-visible {
  outline: none;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}

input[type="file"] {
  display: none;
}

select {
  display: block;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--bgColor-neutral-muted);
  border-radius: 0.75rem;
  box-shadow: var(--shadow-sm);
}

header {
  width: 100%;
  height: var(--header-height);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  padding: var(--default-y-margin) var(--default-x-margin);
  margin-bottom: var(--header-margin-bottom);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
}

.header-line {
  box-shadow: var(--shadow-sm);
}

.header-user-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-user-container img {
  width: 2rem;
  height: 2rem;
  object-fit: fill;
  border-radius: 50%;
}

.title {
  font-size: 1.75rem;
  /* color: var(--highlight-color); */
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.write-container {
  display: flex;
  align-items: stretch;
}

.write-form {
  flex-grow: 1;
}

.write-title {
  width: 100%;
  margin-bottom: 2rem;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid var(--bgColor-neutral-muted);
  padding: 0.5rem 0;
  font-size: 2rem;
}

.write-button-container {
  display: flex;
  gap: 1rem;
}

.write-button {
  margin: 1rem 0 2rem 0;
  padding: 1rem 0.5rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--bgColor-neutral-muted);
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-sm);
}

.markdown {
  display: flex;
  height: 60vh;
  border: 1px solid var(--bgColor-neutral-muted);
  border-radius: 0.75rem;
  box-shadow: var(--shadow-sm);
}

.preview {
  margin: 0 0 2rem 2rem;
  padding: 1rem;
  width: 50%;
  border-radius: 0.75rem;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #f8f8f8;
}

.preview > h1:first-child {
  margin-top: 0;
}

.markdown-area {
  border: none;
  padding: 1rem;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  font-size: 1rem;
}

ul {
  padding-inline-start: 1.5rem;
}

li {
  line-height: 1.7;
}

ol {
  padding-inline-start: 1.5rem;
}

blockquote {
  margin: 0;
  margin-block: 0;
  padding: 0.5rem;
  padding-left: 1rem;
  white-space: break-spaces;
  background-color: var(--bgColor-neutral-muted);
  border-radius: 6px;
  /* 뭔가 멋진걸 만들어야함 */
}

.inline-code {
  padding: 0.2rem 0.4rem;
  white-space: break-spaces;
  background-color: var(--bgColor-neutral-muted);
  border-radius: 6px;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.post {
  border: 1px solid #000;
  border-radius: 0.75rem;
}

.post-link {
  display: block;
  padding: 1rem;
}

.highlight-button {
  border-bottom: 1px solid var(--background-color);
}

.highlight-button:hover {
  color: var(--highlight-color);
  border-bottom: 1px solid var(--highlight-color);
}

.unauthorized-container {
  height: calc(100vh - calc(3 * var(--header-height)));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.unauthorized-container > p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.unauthorized-container > button {
  font-size: 1.5rem;
  padding: 0.1rem;
  color: var(--highlight-color);
  border-bottom: 1px solid var(--highlight-color);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}

.modal-container h2 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.modal-button {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  margin-top: 2rem;
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  margin-bottom: 2rem;
}

.thumbnail-preview {
  height: 15rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--bgColor-neutral-muted);
  border-radius: 0.75rem;
}

.thumbnail-preview {
  text-align: center;  
}

.thumbnail-selector {
  display: flex;
  gap: 1rem;
}

.thumbnail-selector label:hover {
  cursor: pointer;
}


.thumbnail-selector select {
  flex-grow: 1;
}

.post-thumbnail{
  object-fit: contain;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  margin-bottom: 2rem;
}

.description-container textarea {
  padding: 1rem;
  flex-grow: 1;
}

.topic-selector {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: .5rem 0 1rem 0;
}

.topic-selector textarea {
  display: block;
  padding: 1rem;
}

.hidden {
  display: none !important;
}

@media (max-width: 1200px) {
  body {
    margin: 0 var(--mobile-x-margin);
    margin-top: calc(
      calc(var(--header-height) + var(--header-margin-bottom)) +
        var(--default-y-margin)
    );  
    width: var(--available-mobile-width);
  }

  header {
    padding: var(--default-y-margin) var(--mobile-x-margin);
  }

  .post-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .preview {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .post-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .markdown-area {
    flex-grow: 1;
  }
}

@media (max-width: 400px) {
  .post-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
