.post-layout {
  margin-bottom: 3rem;
}

.post-series-title-container {
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-series-title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
}
.post-series-title-container p {
  margin-bottom: 0;
}

.post-watch-more:hover {
  color: var(--highlight-color);
}

.post-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.post {
  border: 1px solid var(--bgColor-neutral-muted);
  border-radius: 0.75rem;
  box-sizing: border-box;
  width: calc(33.333% - 1rem);
  box-shadow: var(--shadow-sm);
}

.post:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
}

.post-thumbnail {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.post-thumbnail img {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  padding: 0.5rem;
  box-sizing: border-box;
  object-fit: fill;
}

.post-contents {
  padding: 0 1rem;
}

.post-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-description {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-detail {
  margin-bottom: 1rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.post-detail p {
  margin: 0;
}

.post-author {
  padding: 0 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: end;
}

.post-author p {
  margin: 0;
}

.post-author img {
  border-radius: 50%;
}

.post-controller {
  padding: 1rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  gap: 0.5rem;
  border: 1px solid var(--bgColor-neutral-muted);
  border-radius: 0.75rem;
  box-shadow: var(--shadow-sm);
  background-color: var(--background-color);
  z-index: 10;
}

.post-another-series {
  margin: 3rem 0;
}

.post-other-link-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.post-other-link-container > a {
  display: flex;
  align-items: center;
}

.post-button-container {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.post-indexer-layout {
  flex: 2;
  padding-left: 1rem;
  box-sizing: border-box;
  border-left: solid 1px var(--bgColor-neutral-muted);
}

.post-indexer-container {
  position: sticky;
  top: 7rem;
}

.post-indexer-container button {
  display: block;
}

.post-indexer-container button:hover {
  color: var(--highlight-color);
}

.post-indexer-h2 {
  margin-block-end: 0.5rem;
  font-weight: 700;
}

.post-indexer-h3 {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  margin-left: 1rem;
}

@media (max-width: 1024px) {
  .post-controller {
    right: 2rem;
  }

  .post {
    width: calc(50% - 1rem);
  }

  .post-controller,
  .post-indexer-layout {
    display: none;
  }
}

@media (max-width: 768px) {
  .post {
    width: calc(100% - 1rem);
  }
}

@media (max-width: 425px) {
}
