.post-layout {
  margin-bottom: 3rem;
}

.post-series-title-container{
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-series-title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
}
.post-series-title-container p{
  margin-bottom: 0;
}

.post-watch-more:hover {
  color: var(--highlight-color);
}

.post-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
}

.post {
  border: 1px solid var(--bgColor-neutral-muted);
  border-radius: 0.75rem;
  box-shadow: var(--shadow-sm);
}

.post:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
}

.post-thumbnail {
  width: 100%;
  height: 10rem;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.post-thumbnail img {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  object-fit: cover;
}

.post-contents {
  padding: 0 1rem;
}

.post-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding: 0 0.2rem;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-description {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-detail {
  margin-bottom: 1rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.post-author {
  padding: 0 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: end;
}

.post-author-img {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}

.post-author img {
  border-radius: 50%;
}

.post-controller {
  padding: 1rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  gap: 0.5rem;
  border: 1px solid var(--bgColor-neutral-muted);
  border-radius: 0.75rem;
  box-shadow: var(--shadow-sm);
  background-color: var(--background-color);
  z-index: 10;
}

.post-another-series {
  margin: 3rem 0;
}

.post-other-link-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.post-other-link-container > a {
  display: flex;
  align-items: center;
}

.post-button-container {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
