.topic-container {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.topic {
  padding: 1rem;
  border: 1px solid var(--bgCozlor-neutral-muted);
  border-radius: 0.75rem;
  box-shadow: var(--shadow-sm);
  font-weight: 700;
}

.topic:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
}
